<h1>Add games to your collection:</h1>

<form action="">
  <% @games.each do |game| %>
    <input type="checkbox" name="<%= game.name %>"><%= game.name %><br/>
  <% end %>
  <input type="submit">
</form>